<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
</head>
<body>
<h2>
    Hello, {{username}}
</h2>

<table>
    <tr>
        <th>Product</th>
        <th>Price</th>
    </tr>
    {{#products}}
        <tr>
            <td> {{name}} </td>
            <td> {{price}} </td>
        </tr>
    {{/products}}
</table>
</body>
</html>
